$background-color: hsl(185, 41%, 84%);
$logo-color: #3D6666;
$green-neon: #26C2AE;
$gray-dark: #5E7A7D;
$span-color: #E17457;
$gray-light: #F3F9FA;
$green-dark: #00474B;
$placeholder-color: #9EBBBD;
$green-light: #9FE8DF;
$custom-placeholder-color: #547878;
$disabled-color: #0D686D;
$text-2-color: #7F9D9F;